# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/platziVideo/node_modules
/platziVideo/.pnp
/platziVideo/.pnp.js
/movies-api/node_modules
/movies-api/.pnp
/movies-api/.pnp.js

# testing
/platziVideo//coverage

# production
/platziVideo/build

# misc
/platziVideo/.DS_Store
/platziVideo/.env.local
/platziVideo/.env.development.local
/platziVideo/.env.test.local
/platziVideo/.env.production.local

/platziVideo/npm-debug.log*
/platziVideo/yarn-debug.log*
/platziVideo/yarn-error.log*
